
@font-face{ 
	font-family: 'opensans';
	src: url('open-sans/OpenSansHebrew-Regular.ttf');
}

@font-face{ 
	font-family: 'horev';
	src: url('horev/horevclm-heavy-webfont.ttf');
}


.to {
  font-size: 20px;
}


.language-he {
  direction: rtl;
}

.fa {
  margin-left: 7px;
  margin-right: 7px
}
/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  
  }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f7f7f7;
  font-size: 100%;
  font-family:'opensans', "Arial", sans-serif; }

body, html {
  height: 100%; }

a {
  color: #fff;
  text-decoration: none; }

img {
  max-width: 100%; }
  .video-container {
      position: relative;
    height:80vh; 
    width:80%;
    overflow-x: auto;
    overflow-y: hidden;
    resize:both;
    margin: auto;
  }
  .video-two {
    position: absolute;
  top: 50%;
    width:100%;
    height:500px;
    transform: translateY(-50%);
  }
  .video {
    width:100%;
    height:100%;
    border:none;
  }
  
  

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;
   }
   .language-en .lang-container {
    direction: rtl; 
   }
  .lang-container {
    position: absolute;
    left: 50%;
    top: 5%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1024px;
      font-size: 1.3em;
      font-weight: 400; 
  }

    .dropbtn {
    background-color: transparent;
    color: #515151;
    padding: 0px 30px 0px 0px;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 105px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 30px;
    margin-right: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #515151;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  .icon-drop-down {
    color: #a8bb2a;
    font-size: 1.2em !important;
  }

  .right-side-drop-down{
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
  }

  .blog-link {
    font-size: 14px;
    color: #515151 !important;
    padding-right: 16px;
    border-style: solid;
    border-color: #d5d5d5;
    border-width: 0px 1px 0px 0px;
    padding-bottom: 7px;
    padding-top: 7px;
  }
  @media only screen and (min-width: 768px) {
    .cd-section {
      max-width: 1024px;
      margin: 0 auto; } }
  .cd-section:nth-of-type(odd) {
    background-color: #fff; }
    .cd-section:nth-of-type(odd) h1 {
      color: #4d4d4d; }
    .cd-section:nth-of-type(odd) p {
      color: gray; }
  .cd-section:nth-of-type(even) {
    background-color: #fff; }
    .cd-section:nth-of-type(even) h1 {
      color: #4d4d4d; }
    .cd-section:nth-of-type(even) p {
      color: gray; }
       .cd-section .logo-header{
        float: left;
        left: 100%;
      }
  .cd-section .logo-header {
    margin-left: 45px;
    margin-top: -10px;
    display: none; }
    @media only screen and (min-width: 768px) {
      .cd-section .logo-header {
        display: block; } }
  @media only screen and (min-width: 768px) {
    .cd-section .logo {
      display: none; } }
      .container-page-1-en{
        top: 50% !important;
      }
  .cd-section .container-page-1 {
    position: absolute;
    left: 50%;
    top: 65%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1024px; }
    .language-he .cd-section .container-page-1 .left-side {
      float: right !important; }
    .cd-section .container-page-1 .left-side {
      width: 50%;
      float: left; }
      
      .cd-section .container-page-1 .left-side .content {
        position: absolute;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
        .cd-section .container-page-1 .left-side .content h1 {
          font-size: 42px;
          font-size: 2.625rem;
          margin-bottom: 5%; }
          @media only screen and (min-width: 768px) {
            .cd-section .container-page-1 .left-side .content h1 {
              width: 50%; } }
          .cd-section .container-page-1 .left-side .content h1 span.we a.we {
            font-weight: 300; }
          .cd-section .container-page-1 .left-side .content h1 span.shape {
            font-weight: 500; }
            .language-he .cd-section .container-page-1 .left-side .content h1 span.ideas { 
                  font-family: 'horev', "Arial", sans-serif;
                font-size: 2.4em;

            }
            
          .cd-section .container-page-1 .left-side .content h1 span.ideas {
            font-size: 1.3em;
            font-weight: 600; }
            .language-he .cd-section .container-page-1 .left-side .content h1 span.life {
              font-family: 'opensans', "Arial", sans-serif;
              font-style: initial;
              font-weight: 600;
              margin-right: 10px;
            }
          .cd-section .container-page-1 .left-side .content h1 span.life {
            font-size: 1.4em;
            font-style: italic;
            font-family: "Times New Roman", Times, serif; }
          .language-he  .cd-section .container-page-1 .left-side .content p { 
            border-left: 0px solid #2c92e7;
            border-right: 4px solid #2c92e7;
            padding-left: 0px;
            padding-right: 20px;
          }
        .cd-section .container-page-1 .left-side .content p {
          font-size: 21px;
          font-size: 1.3125rem;
          line-height: 1.5;
          border-left: 4px solid #2c92e7;
          padding-left: 20px; }
          @media only screen and (min-width: 768px) {
            .cd-section .container-page-1 .left-side .content p {
              width: 40%; } }
    .cd-section .container-page-1 .right-side {
      display: none; }
      @media only screen and (min-width: 768px) {
        .language-he .cd-section .container-page-1 .right-side {
          float: left !important;
        }
        .cd-section .container-page-1 .right-side {
          margin: 0 auto;
          display: inherit;
          width: 50%;
          float: right; }
          .cd-section .container-page-1 .right-side .content {
            position: absolute;
            top: 50%;
            bottom: auto;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); } }
  .cd-section .header {
    display: none; }
    @media only screen and (min-width: 768px) {
      .cd-section .header {
        z-index: 9;
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        display: inherit;
        text-align: center; }
        .cd-section .header img {
          max-width: 600px;
          margin-top: -50px; } }
  .cd-section .container-page-2 {
    background-color: #f7f7f7;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1024px; }
    .cd-section .container-page-2 .img-footer {
      text-align: center;
      margin-top: 15px; }
    .cd-section .container-page-2 .cd-scroll-down {
      left: initial;
      right: 10px; }
    .cd-section .container-page-2 h1 {
      font-size: 34px;
      font-size: 2.125rem;
      margin-bottom: 4%; }
      @media only screen and (min-width: 768px) {
        .cd-section .container-page-2 h1 {
          width: 50%; } }
      .cd-section .container-page-2 h1 span.we a.we{
        font-weight: 300; }
      .cd-section .container-page-2 h1 span.ideas {
        font-size: 1.3em;
        font-weight: 500; }
        .language-he .cd-section .container-page-2 p { 
          border-left: 0px solid #6fb517;
      padding-left: 0px;
      border-right: 4px solid #6fb517;
      padding-right: 20px;
        }
    .cd-section .container-page-2 p {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1.5;
      border-left: 4px solid #6fb517;
      padding-left: 20px; }
      @media only screen and (min-width: 768px) {
        .cd-section .container-page-2 p {
          width: 90%; } }
  .cd-section .container-page-3 {
    position: absolute;
    width: 90%;
    max-width: 1024px;
    height: 100%;
    overflow: auto; }
    @media only screen and (min-width: 768px) {
      .cd-section .container-page-3 {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        padding-top: 50px; } }
    @media only screen and (min-width: 768px) {
      .cd-section .container-page-3 {
        height: initial;
        overflow: hidden;
        padding-top: initial; } }
    .cd-section .container-page-3 h1 {
      font-size: 52px;
      font-size: 3.25rem;
      text-align: right;
      margin-bottom: 4%; }
      .language-he .cd-section .container-page-3 h1 span.special{
        font-family: 'opensans', "Arial", sans-serif;
      }
      .cd-section .container-page-3 h1 span.special {
        font-size: 0.9em;
        font-style: italic;
        font-family: "Times New Roman", Times, serif; }
    .cd-section .container-page-3 .section {
      overflow: auto;
      zoom: 1;
      margin-bottom: 15px; }
      .cd-section .container-page-3 .section h2 {
        display: none; }
        @media only screen and (min-width: 768px) {
          .language-he .cd-section .container-page-3 .section h2{
            float: right;
            text-align: left;
          }
          .language-he .cd-section .container-page-3 .section h2{
            padding-left: 10px;
            padding-right: 0px;
          }
          .cd-section .container-page-3 .section h2 {
            display: block;
            float: left;
            text-align: right;
            font-size: 18px;
            font-size: 1.125rem;
            padding-right: 10px; } }
            .language-he .cd-section .container-page-3 .section p{
              padding-right: 20px;
              padding-left: 0px;
            }
      .cd-section .container-page-3 .section p {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 1.5;
        padding-left: 20px;
        float: right; }
      @media only screen and (min-width: 768px) {
        .cd-section .container-page-3 .section.effective h2 {
          width: 25%; } }
          .language-he .cd-section .container-page-3 .section.effective p {
            border-left: 0px solid #357cd8;
            border-right: 4px solid #357cd8;
          }
      .cd-section .container-page-3 .section.effective p {
        border-left: 4px solid #357cd8; }
        @media only screen and (min-width: 768px) {
          .cd-section .container-page-3 .section.effective p {
            width: 75%; } }
      @media only screen and (min-width: 768px) {
        .cd-section .container-page-3 .section.creative h2 {
          width: 30%; } }
          .language-he .cd-section .container-page-3 .section.creative p {
        border-left: 0px solid #ff4001;
         border-right: 4px solid #ff4001;  
        }
      .cd-section .container-page-3 .section.creative p {
        border-left: 4px solid #ff4001; }
        @media only screen and (min-width: 768px) {
          .cd-section .container-page-3 .section.creative p {
            width: 70%; } }
      @media only screen and (min-width: 768px) {
        .cd-section .container-page-3 .section.cutting h2 {
          width: 15%; } }
        .language-he .cd-section .container-page-3 .section.cutting p{
          border-left: 0px solid #ffd61a; 
          border-right: 4px solid #ffd61a; 
        }
      .cd-section .container-page-3 .section.cutting p {
        border-left: 4px solid #ffd61a; }
        @media only screen and (min-width: 768px) {
          .cd-section .container-page-3 .section.cutting p {
            width: 85%; } }
      @media only screen and (min-width: 768px) {
        .cd-section .container-page-3 .section.adaptive h2 {
          width: 25%; } }
         .language-he .cd-section .container-page-3 .section.adaptive p {
        border-right: 4px solid #8dd14a;  
        border-left: 0px solid #8dd14a;
          }
      .cd-section .container-page-3 .section.adaptive p {
        border-left: 4px solid #8dd14a; }
        @media only screen and (min-width: 768px) {
          .cd-section .container-page-3 .section.adaptive p {
            width: 75%; } }
      @media only screen and (min-width: 768px) {
        .cd-section .container-page-3 .section.quality h2 {
          width: 18%; } }
          .language-he .cd-section .container-page-3 .section.quality p {
        border-left: 0px solid #ff4001;
          border-right: 4px solid #ff4001;
         }
      .cd-section .container-page-3 .section.quality p {
        border-left: 4px solid #ff4001; }
        @media only screen and (min-width: 768px) {
          .cd-section .container-page-3 .section.quality p {
            width: 82%; } }
      @media only screen and (min-width: 768px) {
        .cd-section .container-page-3 .section.performant h2 {
          width: 30%; } }
         .language-he .cd-section .container-page-3 .section.performant p {
        border-right: 4px solid #357cd8;
        border-left: 0px solid #357cd8;
         }
      .cd-section .container-page-3 .section.performant p {
        border-left: 4px solid #357cd8; }
        @media only screen and (min-width: 768px) {
          .cd-section .container-page-3 .section.performant p {
            width: 70%; } }
      @media only screen and (min-width: 768px) {
        .cd-section .container-page-3 .section.sustainable h2 {
          width: 15%; } }
         .language-he .cd-section .container-page-3 .section.sustainable p {
        border-left: 0px solid #ffd61a;
         border-right: 4px solid #ffd61a; }
      .cd-section .container-page-3 .section.sustainable p {
        border-left: 4px solid #ffd61a; }
        @media only screen and (min-width: 768px) {
          .cd-section .container-page-3 .section.sustainable p {
            width: 85%; } }
  .cd-section .container-page-4 {
    background-color: #f7f7f7;
    padding: 20px;
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 90%;
    max-width: 1024px; }
    .cd-section .container-page-4 p {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1.5; }
      .cd-section .container-page-4 p.footer {
        font-size: 2em;
        line-height: 2;
        text-align: center;
        margin-top: 15px; }
        .cd-section .container-page-4 p.footer a {
          color: #d88683;
          font-size: 0.8em;
          text-align: center; }
    .cd-section .container-page-4 h1 {
      margin-bottom: 15px;
      font-size: 46px;
      font-size: 2.875rem; }
    .cd-section .container-page-4 .section {
      overflow: auto;
      zoom: 1;
      padding-top: 25px; }
      .language-he .cd-section .container-page-4 .section img {
        float: right;
      }
      .cd-section .container-page-4 .section img {
        float: left;
        width: 15%; }
      .cd-section .container-page-4 .section div {
        float: right;
        width: 85%;
        padding-left: 10px; }
        @media only screen and (min-width: 768px) {
          .cd-section .container-page-4 .section div {
            padding: 20px 80px 40px 40px; } }
        .cd-section .container-page-4 .section div h1 {
          margin-bottom: 15px;
          font-size: 1.6em; }
          .cd-section .container-page-4 .section div h1 span {
            color: #999999;
            font-size: 0.6em; }
  @media only screen and (min-width: 768px) {
    .cd-section h1 {
      font-size: 30px;
      font-size: 1.875rem; }
    .cd-section p {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 2; } }

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("../public/img/cd-arrow-bottom.svg") no-repeat center center; }

/* No Touch devices */
.cd-nav-trigger {
  display: none; }

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }
  .no-touch #cd-vertical-nav li {
    text-align: right; }
  .no-touch #cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .no-touch #cd-vertical-nav a::after {
      clear: both;
      content: "";
      display: table; }
    .no-touch #cd-vertical-nav a span {
      float: right;
      display: inline-block;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform: scale(0.6); }
    .no-touch #cd-vertical-nav a:hover span {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .no-touch #cd-vertical-nav a:hover .cd-label {
      opacity: 1; }
    .no-touch #cd-vertical-nav a.is-selected .cd-dot {
      background-color: #4d4d4d; }
  .no-touch #cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #a6a6a6;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .no-touch #cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: #a6a6a6;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }

/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(62, 57, 71, 0.9); }
  .touch .cd-nav-trigger span {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #fff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: inherit;
      border-radius: inherit; }
    .touch .cd-nav-trigger span::before {
      top: -9px; }
    .touch .cd-nav-trigger span::after {
      bottom: -9px; }

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(62, 57, 71, 0.9); }
  .touch #cd-vertical-nav a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .touch #cd-vertical-nav a span:first-child {
      display: none; }
    .touch #cd-vertical-nav a.is-selected span:last-child {
      color: #d88683; }
  .touch #cd-vertical-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .touch #cd-vertical-nav.open + .cd-nav-trigger {
    background-color: transparent; }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span {
      background-color: rgba(255, 255, 255, 0); }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
      background-color: white;
      height: 3px;
      width: 20px;
      border-radius: 0;
      left: -8px; }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 1px; }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      bottom: 0; }
  .touch #cd-vertical-nav li:last-child a {
    border-bottom: none; }

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px; } }

/*# sourceMappingURL=style.css.map */
