---
layout: default
onepage: true
services:
  - title: Strategic consulting
    icon: /assets/images/icons/icon_1.png
    desc: Definition of business goals, product conceptualization, product requirements document (PRD)
    bg: assets/images/services/strategic.jpg
    more: Roadmap,  MVP specifications. Delivered within few weeks
    id: 1  
  - title: MVP delivery
    icon:  /assets/images/icons/icon_2.png
    desc: Service engagement to deliver MVP version through a fixed commitment (fixed cost and fixed time)
    bg: assets/images/services/mvp.jpg
    more: Shall fit within a 3 to 6 months timeframe, shall not cross the $$ 5 digits boundary and will likely involves a team composed of product owner, a designer, architect, two or more developers
    id: 2
  - title: Agile development
    icon:  /assets/images/icons/icon_3.png
    desc: Retainer agreement to produce additional versions based on users feedbacks and product backlog
    bg: assets/images/services/agile.jpg
    more: DevOp with automatic error reporting from cloud assets and user devices, production monitoring
    id: 3 
  - title: Project 360° audit
    icon:  /assets/images/icons/icon_4.png
    desc: Reviewing all components of the project, user EPICs and stories, UX and UI,
    bg: assets/images/services/project2.jpg
    more: architecture, technology stack, CI/CD pipeline, methodology, individual roles,...
    id: 4
  - title: Technology coaching
    icon:  /assets/images/icons/icon_5.png
    desc: Coaching your team on the react eco-system and on full stack development
    bg: assets/images/services/technology.jpg
    more: Reviewing code, removing technical obstables and debugging difficult bugs
    id: 5
  - title: Team membership
    icon:  /assets/images/icons/icon_6.png
    desc: Joining your team to accelerate development, taking part in daily’s, grooming, planning, retro…
    bg: assets/images/services/team.jpg
    more: Leading specific part of the product (front-end Web or Mobile)
    id: 6
expertise:
  - title: ReactJS & React-Native
    icon: assets/images/expertise/reactIcon.png
    desc: React, the most popular front-end framework, with a vibrant community that we use for both Web and Mobile development
    bg: assets/images/expertise/react.jpg
    more: No compromise on UX, no hybrid apps on Mobile but still a cost effective cross-platform strategy
    id: 1  
  - title: WebRTC
    icon:  /assets/images/expertise/webIcon.png
    desc: The right way to share video, audio and data in real time over the Web
    bg: assets/images/expertise/webRTC.jpg
    more: No matter if one-on-one or many-to-many, fits in peer-to-peer or server centric architectures, no more plugins on the browsers
    id: 2
  - title: Server architecture, NodeJS
    icon:  /assets/images/expertise/jsIcon.png
    desc: One of the most performant services development frameworks, best suited for full stack development.
    bg: 
    more: Used together with Express, and Postgres for structured data model or Mango for dynamic data
    id: 3 
  - title: CI/CD and DevOps
    icon:  /assets/images/expertise/DevOpsIcon.png
    desc: Github actions, Jenkins, Fastlane to fluidify the pipeline, Docker for deployment, Kubernetes for containers orchestration
    bg: 
    more: Monitoring production and alerting via Slack, Teams or Jira
    id: 4
  - title: Adobe Animate & CreateJS
    icon:  /assets/images/expertise/animateIcon.png
    desc: Design creative and interactive user animations all running on html5 Canvas user CreateJS
    bg:
    more: No proprietary runtime dependency, Performance optimized, All logic encoded in JavaScript
    id: 5
  - title: Serverless
    icon: /assets/images/expertise/serverlessIcon.png
    desc: Reduce development effort, using Google Firebase or AWS Lambda to create a backend in no time
    bg:
    more: Shorten development time and costs while building a sustainable and cost-effective architecture
    id: 6
works:
  - path: _works/diff-foods.md
  - path: _works/sketch-book.md 
  - path: _works/tv-video.md
    style: wide
  - path: _works/umbrella-beauty.md
  - path: _works/amber.md
  - path: _works/explore.md  
  - path: _works/uro-mag.md 
    style: wide
  - path: _works/flowers.md
members:
  - avatar: /assets/images/@stock/member-7.png
    name: Lily Jebari
    position: Founder
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "As the founder and CEO of Wrap, and as an interactions and visual design specialist, she knows that user- centred and easy-to-use design is an essential way to distinguish a good product and an awesome product."
  - avatar: /assets/images/@stock/member-9.png
    name: Mark Wayne
    position: Creative Director
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: dribbble
    desc:
      "Mark started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Mark’s role means solving all kinds of visual design problems."
  - avatar: /assets/images/@stock/member-8.png
    name: Clare Watson
    position: Front-end Developer
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "Clare is a senior front-end developer here at Wrap, specialises in building blocks of the web: HTML, CSS, and JavaScript. She has almost ten years experiencs in the front-end development."
  - avatar: /assets/images/@stock/member-4-4.png
    name: Jone Bucan
    position: Senior Designer
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Jone started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Jone’s role means solving all kinds of visual design problems."

team_slides:
  - /assets/images/@stock/slide-full-1.jpg
  - /assets/images/@stock/slide-full-8.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-10.jpg

testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Designer at Huglab'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Designer at Huglab'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Designer at Huglab'

clients:
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png

  - /assets/images/@stock/client-5.png
  - /assets/images/@stock/client-6.png  
  - /assets/images/@stock/client-7.png    
  - /assets/images/@stock/client-2.png
  
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png  
  - /assets/images/@stock/client-1.png   
  - /assets/images/@stock/client-6.png   
 
---
<div id="hide">
<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen video-style'>
    <!-- <div class="video-position"> -->
    <video playsinline
    autoplay='true'
    id='fullscreen-video'
    class="fullscreen__video"
    loop='true'
    muted='true'>

<source src='{{ "/assets/images/@stock/bgVideo.m4v" | relative_url }}'
       type='video/mp4'>
 </video>
<!-- </div> -->
    <div class='overlay'></div>
    <div class='layer'>
      <h1 class='thin' id="to-be-update">
         <span class="fir">we shape</span><br/>
         <span class="sec">ideas</span>
         <span class="fir">to</span><br/>
         <span class="thir">life</span>
      </h1>
      <h2 class='thin'>
       <div class="max-width">
       <span>Shefing, our <span class="strong">innovative agency for the digital transformation</span>, has the soul of
       an israeli startup and the professionalism of an european enterprise vendor </span></div>
      </h2>
    </div>
  </div>
</div>


<a id='about'></a>
<div  class="second-page" >
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Entrepreneur, ISV&nbspexecutive, Industry&nbspleader</p><br>
        <h2>Accelerate the digital transformation launching Mobile app and Web platform.</h2>
        <p class="big-size">Shefing team loves creating disruptive and engaging products. Combining conceptual talent and development methodology, We will exceed your users expectations.</p>
 <a href='{{ 'calculator' | relative_url }}'>    <div  class="btn projectBtn" ><p class="innertext" >Project Calculator</p> </div> </a></div>

    </div>
    <!-- <div class="four spacing"></div> -->
  </div>
</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/@stock/computer.png" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
        <h2>
          <div class="we-do">
       <div><span >we</span><span style="font-weight:600;"> listen, </span></div><div><div><div>before&nbsp</div></div></div><span>we&nbsptalk</span></br>
       <div><span >we </span><span  style="font-weight:600 ;">design, </span></div><div><div><div>before&nbsp</div></div></div><span>we&nbspcode</span></br>
       <div><span >we </span><span style="font-weight:600 ;">develop, </span></div><div><div><div>before&nbsp</div></div></div><span>we&nbsptest</span></br>
       <div><span >& we </span><span style="font-weight:600 ;">launch, </span></div><div><div><div>before&nbsp</div></div></div><span>schedule</span></br>

      </div> 
    </div>
    <ul class="list">
    <li><span class="light">Providing strategic consulting together with development technical excellence </span></li>
    <div class="littlespacing"></div>
    <li><span class="light">Behaving as onboarded resources, proactive and fully engaged </span></li>
    <div class="littlespacing"></div>
    <li><span class="light">Delivering through Agile process, with full transparency </span></li>
    <div class="littlespacing"></div>
  </ul>
    <div class="spacing"></div>
    <!-- <a href="#" class="button small">Meat the team</a> -->
    <!-- <div class="meatbtn"><p class="innertext">Project Calculator</p> </div> -->
    <div class="three spacing"></div>
  </div>
</div>


<a id='services'></a>
<div class='services'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <h2><span class="color">Our </span>Services</h2>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>
<a id='expertise'></a>
<div class="testing">
  <div class='services'>
    <div class='row'>
      <div class='large-8 columns large-centered'>
        <div class="section-title">
          <h2 style="color:#fff;"><span class="color">Our </span>expertise</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="full no-overflow no-padding">
    <div class='main-expertise'>
      {% for item in page.expertise %}
      <div class='medium-6 large-6 columns'>
        {% include expertise.html expertise=item %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- <a id='works'></a>
<div class='full'>

          <a href='{{ "calculator.html" | relative_url }}'><div style="height: 500px;width: 800px;background-color: brown;"></div></a>
</div> -->
<!-- <div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Customized to meet your needs.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur inventore minimar.
      </p>
    </div>
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='#'>Download Now</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div> -->


<!-- <a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Hello! This is us." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div> -->
<!-- <div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
<div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div> -->
<!-- 

<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Wrap ideas." %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
</div>


<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our clients say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="we are happy" title="Featured clients" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div> -->

<!-- <div class="four spacing"></div> -->
</div>
<a id='contact'></a>
{% include contact-form.html %}



