---
layout: default
onepage: true
services:
  - title: Strategic consulting
    icon: /assets/images/services/services_1.png
    desc: Definition of business goals, product conceptualization, product requirements document
    bg: assets/images/services/1.jpg
    more: Roadmap,  MVP specifications. Delivered within few weeks
    id: 1  
  - title: MVP delivery
    icon:  /assets/images/services/services_2.png
    desc: Service engagement to deliver MVP version through a fixed commitment (fixed cost and fixed time)
    bg: assets/images/services/2.jpg
    more: Shall fit within a 3 to 6 months timeframe, shall not cross the $ 5 digits boundary and will likely involves a team composed of product owner, a designer, architect, two or more developers
    id: 2
  - title: Agile development
    icon:  /assets/images/services/services_3.png
    desc: Retainer agreement to produce additional versions based on users feedbacks and product backlog
    bg: assets/images/services/3.jpg
    more: DevOp with automatic error reporting from cloud assets and user devices, production monitoring
    id: 3 
  - title: Project 360° audit
    icon:  /assets/images/services/services_4.png
    desc: Reviewing all components of the project, user EPICs and stories, UX and UI,
    bg: assets/images/services/4.jpg
    more: architecture, technology stack, CI/CD pipeline, methodology, individual roles,...
    id: 4
  - title: Technology coaching
    icon:  /assets/images/services/services_5.png
    desc: Coaching your team on the modern Web technologies and on full stack development
    bg: assets/images/services/5.jpg
    more: Reviewing code, removing technical obstables and debugging difficult bugs
    id: 5
  - title: Team membership
    icon:  /assets/images/services/services_6.png
    desc: Joining your team to accelerate development, taking part in daily’s, grooming, planning, retro…
    bg: assets/images/services/6.jpg
    more: Leading specific part of the product (e.g. front-end Web or Mobile)
    id: 6
expertise:
  - title: React & NextJS
    icon: assets/images/expertise/expertises_1.png
    desc: React, the most popular front-end library, combined within the very comprehensive framework, NextJS, is the best front-end strategy
    bg: assets/images/expertise/react.jpg
    more: For small teams, alternatives with Svelte or View could be considered
    id: 1  
  - title: Headless CMS and Static site generators
    icon:  /assets/images/expertise/expertises_2.png
    desc: The modern approach to ambtious Content projects, is to use a modern headless CMS such as Payload CMS
    
    bg: assets/images/expertise/webRTC.jpg
    more: This is the most effective strategy to create great looking, high performance and secure content sites
    id: 2
  - title: Server architecture, NodeJS
    icon:  /assets/images/expertise/expertises_3.png
    desc: One of the most performant services development frameworks, best suited for full stack development.
    bg: 
    more: Used together with Express, and Postgres for structured data model or Mango for dynamic data
    id: 3 
  - title: CI/CD and DevOps
    icon:  /assets/images/expertise/expertises_4.png
    desc: Github actions, Jenkins, Fastlane to fluidify the pipeline, Docker for deployment, Kubernetes for containers orchestration
    bg: 
    more: Monitoring production and alerting via Slack, Teams or Jira
    id: 4
  - title: Adobe Animate & CreateJS
    icon:  /assets/images/expertise/expertises_5.png
    desc: Design creative and interactive user animations all running on html5 Canvas user CreateJS
    bg:
    more: The easiest path for migrating old Flash applications, No proprietary runtime dependency, Performance optimized, All logic encoded in JavaScript
    id: 5
  - title: Serverless deployment
    icon: /assets/images/expertise/expertises_6.png
    desc: Reduce development effort, speed up time to market, using Google Firebase or AWS Lambda to create a backend in no time
    bg:
    more: Best suited for MVP and small projects
    id: 6
---
<div id="hide">
<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen video-style'>
    <!-- <div class="video-position"> -->
    <video playsinline
    autoplay='true'
    id='fullscreen-video'
    class="fullscreen__video"
    loop='true'
    muted='true'>

<source id="vid" src='{{ "/assets/images/@stock/bgVideo.m4v" | relative_url }}'
       type='video/mp4'>
 </video>
<!-- </div> -->
    <div class='overlay'></div>
    <div class='layer'>
      <h1 class='thin' id="to-be-update">
         <span class="fir">we shape</span><br/>
         <span class="sec">ideas</span>
         <span class="fir">to</span><br/>
         <span class="thir">life</span>
      </h1>
      <h2 class='thin'>
       <div class="max-width">
       <span>Shefing is an <span class="strong">innovative AI transformation agency</span>
       that combines the soul of an Israeli startup with the the professionalism of a leading global enterprise vendor</span></div>
      </h2>
    </div>
  </div>
</div>


<a id='about'></a>
<div  class="second-page" >
  <div class='row'>
    <div class='large-8 columns large-centered' style="width: 100%;">
      <div class="section-title" >
        <p class="small-title">Entrepreneur, ISV&nbspexecutive, Industry&nbspleader</p><br>
        <h2>Accelerate your Intelligent Digital Transformation, hiring Shefing as your AI Co-Pilot</h2>
        <p class="big-size">The Shefing team loves creating disruptive and engaging intelligent products. Combining conceptual talent with tech expertise, we act as your co-pilot, helping you thrive in the AI era and harness its power for tangible business results.</p>
        <a href='{{ 'calculator' | relative_url }}'>    <div  class="btn projectBtn" ><p class="innertext" >Project Calculator</p> </div> </a></div>

    </div>
    <!-- <div class="four spacing"></div> -->
  </div>
</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/@stock/computer.png" | relative_url }})">
  <div class="right-half">
    <!-- <div class="two spacing"></div> -->
    <div class="section-header alt white">
        <h2>
          <div class="we-do">
       <div><span >we</span><span style="font-weight:600;"> listen,<br class="for-mobile"> </span></div><div><div><div>before&nbsp</div></div></div><span>we&nbsptalk</span></br>
       <div><span >we </span><span  style="font-weight:600 ;">design,<br class="for-mobile"> </span></div><div><div><div>before&nbsp</div></div></div><span>we&nbspcode</span></br>
       <div><span >we </span><span style="font-weight:600 ;">develop,<br class="for-mobile"> </span></div><div><div><div>before&nbsp</div></div></div><span>we&nbsptest</span></br>
       <div><span >& we </span><span style="font-weight:600 ;">launch, <br class="for-mobile"></span></div><div><div><div>before&nbsp</div></div></div><span>schedule</span></br>

      </div> 
    </div>
    <ul class="list">
    <li><span class="light">Providing strategic consulting together with technological excellence </span></li>
    <div class="littlespacing"></div>
    <li><span class="light">Behaving as onboarded resources, proactive and fully engaged </span></li>
    <div class="littlespacing"></div>
    <li><span class="light">Delivering through Agile process, with full transparency </span></li>
    <!-- <div class="littlespacing"></div> -->
    <!-- <div class="btn meatbtn"><p class="innertext">Project Calculator</p> </div> -->
    <a href='{{ 'calculator' | relative_url }}'>    <div  class="btn meatbtn" ><p class="innertext" >Project Calculator</p> </div> </a>
  </ul>
  </div>
</div>


<a id='services'></a>
<div class='services'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <h2 class="bold"><span class="color">Our </span>Services</h2>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>
<a id='expertise'></a>
<div class="testing">
  <div class='expertise'>
    <div class='row'>
      <div class='large-8 columns large-centered'>
        <div class="section-title">
          <h2 class="expertise-title bold"  style="color:#fff;"><span class="color">Our </span>expertise</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="full no-overflow no-padding">
    <div class='main-expertise'>
      {% for item in page.expertise %}
      <div class='medium-6 large-6 columns'>
        {% include expertise.html expertise=item %}
      </div>
 
      {% endfor %}
    </div>
  </div>
</div>

</div>
<a id='contact'></a>
{% include contact-form.html %}




