
<div class="calc-header"><span class="color">Project short<br> </span>calculator</div>

<div class="calc-img">
  <img src="/assets/images/calculator.png" />

</div>
<div class="calc-second-header">Quick estimation of <span class="color sec"
  >your&nbspapplication</span></div>
<hr>
<div class="question"><span class="color">1.</span> Which platforms you’re targeting?</div>
<div class="choose">
</div>
<div>
  <table>
    <tr>
      <td>
        <img class="service-icon" src='{{ "/assets/images/calculator/ios.png" | relative_url }}'></img>
      </td>
      <td>
        <img class="service-icon" src='{{ "/assets/images/calculator/web.png" | relative_url }}'></img>
      </td>
      <td>
        <img class="service-icon" src='{{ "/assets/images/calculator/android.png" | relative_url }}'></img>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="a">Ios </input></span>
      </td>
      <td>
        <input type="radio" value="Ios" name="a" type="checkbox">Web </input>
      </td>
      <td>
        <span> <input type="radio" name="a">Android </input></span>
      </td>
    </tr>
  </table>
</div>
<hr>
<div class="question"><span class="color">2.</span> Would you like to be accompanied for your app design?</div>
<div>
  <table>
    <tr>
      <td>
        <img class="service-icon" src='{{ "/assets/images/calculator/brush.png" | relative_url }}'></img>
      </td>
      <td>
        <img class="service-icon" src='{{ "/assets/images/calculator/color.png" | relative_url }}'></img>
      </td>

    </tr>
    <tr>
      <td>
        <input type="radio" name="b">No, I’ll take care of the UI and UX myself </input></span>
      </td>
      <td>
        <input type="radio" value="Ios" name="b" type="checkbox">Yes, you take care of the UI and UX </input>
      </td>
    </tr>
  </table>
</div>
<hr>
<div class="question"><span class="color">3.</span> Do you want to interface your app with a server via an API?</div>
<div>
  <table>
    <tr>
      <td>
        <img class="service-icon" src='{{ "/assets/images/calculator/noA.png" | relative_url }}'></img>
      </td>
      <td>
        <img class="service-icon" src='{{ "/assets/images/calculator/yesA.png" | relative_url }}'></img>
      </td>
      <td>
        <img class="service-icon" src='{{ "/assets/images/calculator/develop.png" | relative_url }}'></img>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="c">no </input></span>
      </td>
      <td>
        <input type="radio" value="Ios" name="c" type="checkbox">yes, the server exists
        already </input>
      </td>
      <td>
        <span> <input type="radio" name="c">Yes, you need to develop the server as well</input></span>
      </td>
    </tr>
  </table>
</div>
<hr>
<div class="question"><span class="color">4.</span> Would you like to have a back-office to manage your app?</div>
<div>
  <div>
    <table>
      <tr>
        <td>
          <img class="service-icon" src='{{ "/assets/images/calculator/no.png" | relative_url }}'></img>
        </td>
        <td>
          <img class="service-icon" src='{{ "/assets/images/calculator/yes.png" | relative_url }}'></img>
        </td>

      </tr>
      <tr>
        <td>
          <input type="radio" name="d">no </input></span>
        </td>
        <td>
          <input type="radio" value="Ios" name="d" type="checkbox">yes</input>
        </td>
      </tr>
    </table>
    <div class="email">
      <input placeholder="EMAIL ADRESS" class="required" type="text">
      <div class="calc">
        <p class="innertext">j’éstime le coût de mon application</p>
      </div>
    </div>
  </div>
</div>
<style>
.try{
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>