<div data-delay='0' data-equalizer-watch="service">
  <div style="padding:20px;">
    <div class='wrapper'>
      <div class='content'>
 <table style="background-color: transparent;border-width: 0ch;">
          <tr>
            <td style="height: 100px;width: 85px" rowspan="5"> <img class="service-icon"
                src='{{ include.expertise.icon }}' alt=""></img>
            </td>
            <td>
              <h3 style="color: #fff;">{{ include.expertise.title | escape }}</h3>
            </td>
          </tr>
          <tr>
            <td>
              <p style="margin-bottom: 0px;color: #fff;">{{ include.expertise.desc | escape }}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p id='readMore{{include.expertise.id}}' style="display: none;color: #fff;"> {{ include.expertise.more | escape }}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="read-more-expertise"><a onclick="readMore({{include.expertise.id}})"
                  id='readBtn{{include.expertise.id}}'>READ MORE</a>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  // window.onload = removeReadMore;
  // function removeReadMore() {
  //   var btnTextA = document.getElementById("readBtn4");
  //   var btnTextB = document.getElementById("btn5");
  //   btnTextA.style.display = "none";
  //   btnTextB.style.display = "none";

  // }
  function readMore(id) {
    var moreText = document.getElementById("readMore" + id);
    var btnText = document.getElementById("readBtn" + id);

    if (moreText.style.display === "none") {
      moreText.style.display = "inline";
      btnText.innerHTML = "READ LESS";
      window.resetMainExpertiseHeight();
      window.calcMainExpertiseHeight();
    } else {
      moreText.style.display = "none";
      btnText.innerHTML = "READ MORE";
      window.resetMainExpertiseHeight();
      window.calcMainExpertiseHeight();

    }
  }


</script>