{% if page.onepage %}
  {% assign classname= '' %}
{% else %}
  {% assign classname='bg-black' %}
{% endif %}

<div class='transparent fullwidth white fixed contain-to-grid {{ classname }}'>
  <nav class='top-bar onepage' data-options='' data-topbar='' style="background-color: transparent;">
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='{{ 'index.html' | relative_url }}'>
            <img id="logoImg" class="toplogo" class="logo" alt=""  />
          </a>
        </h1>
      </li>
    </ul>
  

    <div id="menu-toggler" class="right">
      <a href='#'>
        <i onclick="changeIcon()" id="menu-icon" class="fa fa-bars" style="color: black;"></i>
        <!-- <i  style="color: black;"></i> -->
      </a>
    </div>
    <section class='top-bar-section closed'>
      <ul class='right'>

        {% for item in site.data.nav %}
          <li>
            {% assign first = item.path | truncate:1,'' %}

            {% if first != '#' %}
              {% assign href = item.path | relative_url %}
            {% elsif page.onepage %}          
              {% assign href = item.path %}
            {% else %}              
              {% assign href = 'index.html' | append:item.path | relative_url %}              
            {% endif %}
            
            <a href="{{ href }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </nav>
</div>
<!-- <style>
  /* *, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
} */
  .mobile-toggle span {
    display: block;
    /* position: absolute; */
    width: 16px;
    height: 1px;
    background: #090909;
    content: " ";
    left: 0;
}
</style> -->
<script>
  function changeIcon() {
  
  var icon=  document.getElementById("menu-icon")
  if(icon.className=="fa fa-bars"){
    icon.className="fa fa-times"
  }else{
    icon.className="fa fa-bars"
  }
  }
</script>