{% if page.onepage %}
  {% assign classname= '' %}
{% else %}
  {% assign classname='bg-black' %}
{% endif %}

<div class='transparent fullwidth white fixed contain-to-grid {{ classname }}'>
  <nav class='top-bar onepage' data-options='' data-topbar='' >
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='{{ 'index.html' | relative_url }}'>
            <img id="logoImg" class="toplogo" class="logo" alt=""  />
             <!-- <span>INNOVATION AS A SERVICE</span> -->
          </a>
        </h1>
      </li>
    </ul>
      <!-- <p top= "129px"
      color="FFFFFF"
      left= "80px"
      width= "308px"
      height= "37px"
      opacity="1">INNOVATION AS A SERVICE</p>
    </h1>
    </ul> -->

    <div id="menu-toggler" class="right">
      <a href='#'>
        <i class="fa fa-bars" style="color: black;"></i>
      </a>
    </div>
    <section class='top-bar-section closed'>
      <ul class='right'>

        {% for item in site.data.nav %}
          <li>
            {% assign first = item.path | truncate:1,'' %}

            {% if first != '#' %}
              {% assign href = item.path | relative_url %}
            {% elsif page.onepage %}          
              {% assign href = item.path %}
            {% else %}              
              {% assign href = 'index.html' | append:item.path | relative_url %}              
            {% endif %}
            
            <a href="{{ href }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </nav>
</div>