<div class='mod modIconText moveup' data-delay='0' data-equalizer-watch="service">
  <div class='icon-text-advanced' data-bg="{{ include.service.bg | relative_url }}">
    <div class='wrapper'>
      <div class='content'>
        <img class="service-icon" src='{{ include.service.icon }}'></img>
      </div>
    </div>
        <h3>{{ include.service.title | escape }}</h3>
        <p id='base{{include.service.id}}'  >{{ include.service.desc | escape }}</p>

        <p id='more{{include.service.id}}' style="display: none;"> {{ include.service.more | escape }}</p></br>
        <div class="spacing"></div>
        <!-- <p class="read-more"><a style="display: none;" onclick="myFunction()" >READ LESS</a></p> -->
        <p class="read-more"><a onclick="readMore({{include.service.id}})" id='btn{{include.service.id}}'>READ MORE</a>
       </p>
<script>
       function readMore(id) {
        // var dots = document.getElementById("dots");
        var moreText = document.getElementById("more"+id);
        var btnText = document.getElementById("btn"+id);
      
        if (moreText.style.display === "none") {
          moreText.style.display = "inline";
          btnText.innerHTML = "READ LESS"; 
          // moreText.style.display = "none";
        } else {
          moreText.style.display = "none";
          btnText.innerHTML = "RAED MORE"; 
          // moreText.style.display = "inline";
        }
      }
       </script>

  </div>
</div>

 

