<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="public/img/favicon.png" />

	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="public/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="public/css/style.css"> <!-- Resource style -->
	<script src="public/js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Shefing</title>
</head>
<body>
	<nav id="cd-vertical-nav">
		<ul>
			<li>
				<a href="#section1" data-number="1">
					<span class="cd-dot"></span>
					<span class="cd-label">Intro</span>
				</a>
			</li>
			<li>
				<a href="#section2" data-number="2">
					<span class="cd-dot"></span>
					<span class="cd-label">Activity</span>
				</a>
			</li>
			<li>
				<a href="#section3" data-number="3">
					<span class="cd-dot"></span>
					<span class="cd-label">Special</span>
				</a>
			</li>
			<li>
				<a href="#section4" data-number="4">
					<span class="cd-dot"></span>
					<span class="cd-label">Team</span>
				</a>
			</li>
		</ul>
	</nav>
	<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

	<section id="section1" class="cd-section">
		<img class="logo-header" src="public/img/logo.png" height="70" alt="">
		<div class="container-page-1">
			<div class="left-side">
				<div class="content">
					<h1><span class="we">WE</span> <span class="shape">SHAPE</span> <br> <span class="ideas">ideas</span> to <span class="life">life</span></h1>
					<p>We are a boutique consulting agency, crafting software products for companies of all shapes and sizes. <br><br>
					We love using our methodology and talents to transform ideas into reality. We use cutting edge cloud technologies and most performant front-end frameworks for web and mobile to ensure your satisfaction.</p>
					<img class="logo" src="public/img/logo.png" height="40" alt="">
				</div>
			</div>
			<div class="right-side">
				<div class="content">
					<img src="public/img/mobile_app.png" height="570" alt="">
				</div>
			</div>
		</div>
		<a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
	</section><!-- cd-section -->

	<section id="section2" class="cd-section">
		<div class="container-page-2">
			<h1><span class="we">WE</span> 
			<br><span class="ideas">LISTEN,</span> 
			<br><span class="ideas">DESIGN,</span> 
			<br><span class="ideas">DEVELOP</span> 
			<br>& <span class="ideas">LAUNCH</span></h1>
			<p>We are a team composed of seasoned product executive, artisans crafting beautiful user interfaces and talented software developers passionated about creating disruptive products that engage users.</p>
			<div class="img-footer">
				<img src="public/img/audyx_web.png" height="350" alt="">
			</div> 
			<a href="#section3" class="cd-scroll-down cd-img-replace">scroll down</a>
		</div>
	</section><!-- cd-section -->

	<section id="section3" class="cd-section">
		<div class="container-page-3">
			<h1>What makes us <span class="special">Special</span></h1>
			<div class="section effective">
				<h2>Effective</h2>
				<p>We focus on business goals, target audience, budget and time constraint to define the most effective product objectives.</p>
			</div>
			<div class="section creative">
				<h2>Creative</h2>
				<p>We strive to create fluent user interfaces that will be intuitively understood by users, through multiple iterative prototypes before a single line of code is written.</p>
			</div>
			<div class="section cutting">
				<h2>Cutting edge</h2>
				<p>We develop modern Mobile and Web applications using the most advanced client technologies: Javascript, ReactJS, React-Native and Redux. 
					On Mobile devices we produce truly native apps in a cost-effective way with a single code-base. 
				</p>
			</div>
			<div class="section adaptive">
				<h2>Adaptive</h2>
				<p>We embrasse the Agile methodology and the 12 principles behind the Agile Manifesto, among them "Welcome changing requirements, even late in development".</p>
			</div>
			<div class="section performant">
					<h2>Performant</h2>
					<p>We deploy Node.js to cutting edge PaaS providers such as Heroku to ensure evolutive, reliable and scalable operations. We leverage Google Firebase to create server less mobile and Web applications at the speed of light</p>
				</div>
				<div class="section quality">
				<h2>Quality</h2>
				<p>We take responsibility on the quality of our deliveries by testing in-house. We never delegate this core responsibility to assess the quality.</p>
			</div>
			<div class="section sustainable">
				<h2>Sustainable</h2>
				<p>We automate the DevOps to ensure long running applications in production, with high availability and minimal overhead.</p>
			</div>
		</div>
		<a href="#section4" class="cd-scroll-down cd-img-replace">scroll down</a>
	</section><!-- cd-section -->

	<section id="section4" class="cd-section">
		<div class="container-page-4">
			<h1>Meet our team</h1>
			<p>We are a boutique consulting agency composed of product strategist, designer and developers with an extensive experience in building successful software products.</p>
			<div class="section">
				<img src="public/img/phil.jpg" alt="">
				<div>
					<h1>PHILIPPE COHEN <span>Product Strategist</span></h1>
					<p>Software engineering and ergonomics expert, he brings his experience to create the most efficient platform for companies of all shapes and sizes.</p>
				</div>
			</div>
			<div class="section">
				<img src="public/img/seeong.jpg" alt="">
				<div>
					<h1>SEONG LEE <span>Designer</span></h1>
					<p>User interface design expert, Seong truly understands that the design process must balance technical functionality and visual elements to create a harmonious system that maximizes the user experience.</p>
				</div>
			</div>
			<p class="footer">Have an idea you’d like to ship? <a href="mailto:philc@shefing.com">philc@shefing.com</a></p>
			
		</div>
	</section><!-- cd-section -->
	
<script src="public/js/jquery-2.1.1.js"></script>
<script src="public/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>