<!doctype html> {% if page.lang == "he" %} {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
<html class="language-he"> {% elsif page.lang == "en" %} {% capture link2 %}{{ site.baseurl_root }}he{{ page.url }}{% endcapture %}
<html class="language-en"> {% endif %}

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> {% include base-head.html %}
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../css/reset.css">
	<!-- CSS reset -->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Resource style -->
	<script src="../public/js/modernizr.js"></script>
	<!-- Modernizr -->

</head>

<body>
	<nav id="cd-vertical-nav">
		<ul>
			<li>
				<a href="#section1" data-number="1">
					<span class="cd-dot"></span>
					<span class="cd-label">Intro</span>
				</a>
			</li>
			<li>
				<a href="#section2" data-number="2">
					<span class="cd-dot"></span>
					<span class="cd-label">Activity</span>
				</a>
			</li>
			<li>
				<a href="#section3" data-number="3">
					<span class="cd-dot"></span>
					<span class="cd-label">Special</span>
				</a>
			</li>
			<li>
				<a href="#section4" data-number="4">
					<span class="cd-dot"></span>
					<span class="cd-label">Team</span>
				</a>
			</li>
		</ul>
	</nav>
	<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a> {% if page.lang == "he" %}
	<section id="section0" class="cd-section">
		{% include shefing-header.html %}
		<div class="video-container">
			<div class="video-two">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/zLQ4h3qYhcA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
		<a href="#section1" class="cd-scroll-down cd-img-replace">scroll down</a>
	</section>
	{% endif %}
	<section id="section1" class="cd-section">
		{% if page.lang != "he" %} {% include shefing-header.html %} {% endif %}

		<div class="container-page-1 container-page-1-en">
			<div class="left-side">
				<div class="content">
					<h1><span class="we">{{ site.t[page.lang].section1.we }}</span> <br> <span class="ideas">{{ site.t[page.lang].section1.ideas }}</span>						{% if page.lang != "he" %} <span class="to">{{ site.t[page.lang].section1.to
						}}</span >{% endif %} <span class="life">{{ site.t[page.lang].section1.life }}</span></h1>
					<p>{{ site.t[page.lang].section1.first }} <br><br> {{ site.t[page.lang].section1.second }}</p>
					<img class="logo" src="public/img/logo.png" height="40" alt="">
				</div>
			</div>
			<div class="right-side">
				<div class="content">
					<img src="public/img/mobile_app.png" height="570" alt="">
				</div>
			</div>
		</div>
		<a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
	</section>
	<!-- cd-section -->

	<section id="section2" class="cd-section">
		<div class="container-page-2">
			<h1><span class="we">{{ site.t[page.lang].section2.we }}</span>
				<br><span class="ideas">{{ site.t[page.lang].section2.listen }}</span>
				<br><span class="ideas">{{ site.t[page.lang].section2.design }}</span>
				<br><span class="ideas">{{ site.t[page.lang].section2.develop }}</span>
				<br>& <span class="ideas">{{ site.t[page.lang].section2.launch }}</span></h1>
			<p>{{ site.t[page.lang].section2.content }}</p>
			<div class="img-footer">
				<img src="public/img/audyx_web.png" height="350" alt="">
			</div>
			<a href="#section3" class="cd-scroll-down cd-img-replace">scroll down</a>
		</div>
	</section>
	<!-- cd-section -->

	<section id="section3" class="cd-section">
		<div class="container-page-3">
			<h1>{{ site.t[page.lang].section3.what }} <span class="special">{{ site.t[page.lang].section3.special }}</span></h1>
			<div class="section effective">
				<h2>{{ site.t[page.lang].section3.effective }}</h2>
				<p>{{ site.t[page.lang].section3.effective-content }}</p>
			</div>
			<div class="section creative">
				<h2>{{ site.t[page.lang].section3.creative }}</h2>
				<p>{{ site.t[page.lang].section3.creative-content }}</p>
			</div>
			<div class="section cutting">
				<h2>{{ site.t[page.lang].section3.cutting-edge }}</h2>
				<p>{{ site.t[page.lang].section3.cutting-edge-content }}</p>
			</div>
			<div class="section adaptive">
				<h2>{{ site.t[page.lang].section3.adaptive }}</h2>
				<p>{{ site.t[page.lang].section3.adaptive-content }}</p>
			</div>
			<div class="section performant">
				<h2>{{ site.t[page.lang].section3.performant }}</h2>
				<p>{{ site.t[page.lang].section3.performant-content }}</p>
			</div>
			<div class="section quality">
				<h2>{{ site.t[page.lang].section3.quality }}</h2>
				<p>{{ site.t[page.lang].section3.quality-content }}</p>
			</div>
			<div class="section sustainable">
				<h2>{{ site.t[page.lang].section3.sustainable }}</h2>
				<p>{{ site.t[page.lang].section3.sustainable-content }}</p>
			</div>
		</div>
		<a href="#section4" class="cd-scroll-down cd-img-replace">scroll down</a>
	</section>
	<!-- cd-section -->

	<section id="section4" class="cd-section">
		<div class="container-page-4">
			<h1>{{ site.t[page.lang].section4.meet }}</h1>
			<p>{{ site.t[page.lang].section4.content }}</p>
			<div class="section">
				<img src="public/img/phil.jpg" alt="">
				<div>
					<h1>{{ site.t[page.lang].section4.phil }} <span>{{ site.t[page.lang].section4.phil-des }}</span></h1>
					<p>{{ site.t[page.lang].section4.phil-content }}</p>
				</div>
			</div>
			<div class="section">
				<img src="public/img/seeong.jpg" alt="">

				<div>
					<h1>{{ site.t[page.lang].section4.see }} <span>{{ site.t[page.lang].section4.see-des }}</span></h1>
					<p>{{ site.t[page.lang].section4.see-content }}</p>
				</div>

			</div>
			<p class="footer">{{ site.t[page.lang].section4.footer }} <a href="mailto:philc@shefing.com">philc@shefing.com</a></p>

		</div>
	</section>
	<script src="public/js/jquery-2.1.1.js"></script>
	<script src="public/js/main.js"></script>
</body>

</html>